/* Admin Page CSS */

.instagram-importer p, .instagram-importer .form-table {
	width: auto;
	max-width: 660px;
}
.instagram-importer .form-table {
	margin-top: 0;
}
.instagram-importer .form-table th {
	width: 410px;
}
.instagram-importer .form-table tr {
	background: #eee;
	border: none;
	border-bottom: 10px solid #fff;
}
.instagram-importer .form-table tr.info {
	background: #FFF;
	border: none;
	border-bottom: 10px solid #fff;
}
.instagram-importer .form-table tr.info th {
	padding: 0;
}

.user-authenticate {
	padding: 20px 0 0 0;
	min-height: 220px;
}


#contextual-help-wrap {
	min-height: 236px;
}
#contextual-help-back {
	right: 220px;
	left: 180px;
}
.contextual-help-sidebar {
	width: 200px;
	position: absolute;
	top: 0;
	right: 0;
}
.contextual-help-tabs {
	width: 180px;
}
.contextual-help-tabs h2 {
	padding-left: 16px;
}
.contextual-help-tabs a {
	overflow: hidden;
	padding: 5px 5px 5px 16px
}
.contextual-help-tabs a:hover {
	overflow: visible;
}
#screen-options-link-wrap, #contextual-help-link-wrap, #screen-meta {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#screen-meta {
	margin: 10px 15px 0 5px;
	border-width: 1px;
	border-style: solid;
}
.contextual-help-tabs-wrap {
	position: relative;
	padding: 0 220px 0 20px;
}


.jtsocial a {
	display: block;
	margin-bottom: 10px;
	text-align: right;
}
.jtsocial a span {
	background: url(../images/social.png) no-repeat top left;
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	margin: 0 8px 0 5px;
}
.jtsocial .jtemail span {
	background-position: -64px 0;
}
.jtsocial .jttwitter span {
	background-position: -128px 0;
}

.submit {
	padding-top: 5px;
}
.dw-pw-form {
	position: absolute;
	bottom: 28px;
	left: 85px;
}

.warning {
	color: #E0522E;
}

img.alignleft {
	margin: 0 14px 14px 0;
}