/* Admin Page CSS */

.updated.instagram-import-message {
	overflow: hidden;
	background: #F1F1F1;
	border-color: #ccc;
	padding: 0 0 10px 10px;
	margin: 0;
}
.updated.instagram-import-message ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}
.updated.instagram-import-message li, .updated.instagram-import-message p {
	margin: 10px 10px 0 0;
	padding: 8px 8px 8px 30px;
	background: #fff;
	width: 350px;
	float: left;
}
.updated.instagram-import-message li {
	min-height: 60px;
}
.updated.instagram-import-message strong {
	display: block;
}
.updated.instagram-import-message img {
	width: 50px;
	height: 50px;
	margin-right: 8px;
	margin-left: -20px;
	vertical-align: middle;
	float: left;
}
.updated.instagram-import-message .spinner {
	clear: both;
	float: left;
	padding: 12px 0;
	background-position: center;
}

.updated.instagram-import-message .clear {
	clear: both;
	padding: 12px 0 0;
	min-width: 130px;
}

form.instagram-importer table {
	background: transparent;
	border-collapse: separate;
	border-spacing: 0 10px;
}
.instagram-importer p, .instagram-importer .form-table {
	width: auto;
	max-width: 660px;
}
.instagram-importer select {
	max-width: 100%;
}
.instagram-importer .form-table {
	margin-top: 0;
}
.instagram-importer .form-table th {
	width: 410px;
	padding: 10px;
	font-weight: normal;
	background: #E8F0F3;
}
#universal-options .form-table th {
	width: 360px;
}
#universal-options .form-table td {
	max-width: 280px;
}
.instagram-importer .form-table td {
	max-width: 230px;
	margin-bottom: 9px;
	padding: 8px 10px;
	line-height: 1.666666667em;
	background: #E8F0F3;
}
.mp6 .instagram-importer .form-table th, .mp6 .instagram-importer .form-table td {
	background: #fff;
}
.instagram-importer .form-table tr {
	border: none;
}
.instagram-importer .form-table .remove-hashtags label {
	padding: 4px 6px;
	margin: 0 2px;
}
.instagram-importer tr.disabled th strong, .instagram-importer tr.disabled input {
	opacity: .6;
}
.instagram-importer .form-table tr code {
	background: #fff;
}
.instagram-importer .form-table tr.info th, .instagram-importer .form-table tr.info td {
	background: transparent;
	border-bottom: 1px solid transparent;
}
.mp6 .instagram-importer .form-table tr.info th, .mp6 .instagram-importer .form-table tr.info td {
	background: transparent;
}
.instagram-importer .form-table tr.info th {
	padding: 0;
}
.mceIframeContainer {
	background: #fff;
}

.user-authenticate {
	padding: 20px 0 0 0;
	min-height: 222px;
}


#contextual-help-wrap {
	min-height: 236px;
}
#contextual-help-back {
	right: 220px;
	left: 180px;
}
.contextual-help-sidebar {
	width: 200px;
	position: absolute;
	top: 0;
	right: 0;
}
.contextual-help-tabs {
	width: 180px;
}
.contextual-help-tabs h2 {
	padding-left: 16px;
}
.contextual-help-tabs a {
	overflow: hidden;
	padding: 5px 5px 5px 16px
}
.contextual-help-tabs a:hover {
	overflow: visible;
}
#screen-options-link-wrap, #contextual-help-link-wrap, #dw-instagram-wrap {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
#dw-instagram-wrap {
	display: none;
	margin: 10px 0 0 0;
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.025);
	box-shadow: 0 1px 0 rgba(0,0,0,.025);
}
.contextual-help-tabs-wrap {
	position: relative;
	padding: 0 220px 0 20px;
}

.jtsocial a {
	display: block;
	margin-bottom: 10px;
	text-align: right;
	font-size: 90%;
}
.jtsocial a span {
	background: url(../images/social.png) no-repeat top left;
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	margin: 0 8px 0 5px;
}
.jtsocial .jtemail span {
	background-position: -64px 0;
}
.jtsocial .jttwitter span {
	background-position: -128px 0;
}

.submit {
	padding-top: 5px;
}
.dw-pw-form {
	position: absolute;
	bottom: 28px;
	left: 85px;
}

.warning {
	color: #E0522E;
}

img.alignleft {
	margin: 0 14px 14px 0;
}

.tools_page_dsgnwrks-instagram-importer-settings .spinner-wrap {
	margin-top: 0;
	/*display: block !important;*/
}
.tools_page_dsgnwrks-instagram-importer-settings .spinner {
	margin-bottom: -4px;
	line-height: 1;
	opacity: 1;
	width: 220px;
	height: 10px;
	background: url(../images/loading.gif) no-repeat top right;
	background-size: 220px 10px;
	/*display: block !important;*/
}

.instagram-importer .warning.hidden {
	padding-left: 10px;
}


@media (max-width: 1150px) {
	.instagram-importer .form-table {
		max-width: 100%;
		width: 100%;
	}
	.instagram-importer .form-table th, .instagram-importer .form-table td, #universal-options .form-table th, #universal-options .form-table td {
		width: auto;
		max-width: 100%;
		display: block;
	}
	#dw-instagram-wrap .contextual-help-sidebar {
		display: none;
	}
	#dw-instagram-wrap .contextual-help-tabs-wrap {
		padding: 0 20px;
	}
	#dw-instagram-wrap #contextual-help-back {
		right: 0;
	}
}

@media (max-width: 700px) {
	.tools_page_dsgnwrks-instagram-importer-settings #wpbody-content > .wrap {
		padding: 0;
	}
	#dw-instagram-wrap #contextual-help-wrap {
		width: 100%;
		overflow: hidden;
	}
	#dw-instagram-wrap .contextual-help-tabs-wrap {
		padding: 0;
	}
	#dw-instagram-wrap .help-tab-content {
		margin-right: 0;
	}
	.instagram-importer .form-table tr.info th, #dw-instagram-wrap .instagram-importer.user-options .submit, .instagram-importer.user-authenticate {
		padding: 0 15px;
	}

	.instagram-importer .form-table th, .instagram-importer .form-table td {
		padding: 15px 15px;
	}
	#dw-instagram-wrap #contextual-help-back {
		right: 0;
		left: 0;
		display: none;
	}
	#dw-instagram-wrap .contextual-help-tabs {
		width: auto;
		max-width: 100%;
		width: 100%;
		display: block;
		clear: both;
		float: none;
	}
}
