.updated.instagram-import-message {
	overflow: hidden;
	background: #F1F1F1;
	border-color: #ccc;
	padding: 0 0 10px 10px;
	margin: 0;
}
.updated.instagram-import-message ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}
.updated.instagram-import-message li, .updated.instagram-import-message p {
	margin: 10px 10px 0 0;
	padding: 8px;
	background: #fff;
	width: 350px;
	float: left;
}
.updated.instagram-import-message li {
	min-height: 60px;
}
.updated.instagram-import-message strong {
	display: block;
}
.updated.instagram-import-message img {
	width: 50px;
	height: 50px;
	margin: 0 8px 0 0;
	vertical-align: middle;
	float: left;
}
.updated.instagram-import-message hr {
	display: block;
	width: 100%;
	clear: both;
}
